/* start: Navbar */
.topbar {
    padding: 0 16px;
    display: flex;
    align-items: center;
    position: relative;
}
.topbar-logo {
    flex-shrink: 0;
}
.topbar-logo {
    height: 48px;
}
.topbar-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
}
.topbar-menu-left {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.topbar-menu-left > li > a {
    height: 64px;
    line-height: 64px;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--gray-600);
}
.topbar-menu-left > li > a:hover {
    color: var(--gray-900);
}
/* end: Navbar */