/* start: Main */
.main-section {
    padding: 48px 0;
}
.main-top {
    margin-bottom: 32px;
    text-align: right;
}
.main-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-top-search-form {
    margin-top: 16px;
}
.main-top-search-form .form-control {
    background-color: var(--gray-200);
}
.main-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 720px;
}
.main-table a {
    text-decoration: none;
    color: var(--gray-900);
    display: block;
    width: 100%;
    padding: 12px 24px;
}
.main-table th {
    border-bottom: 1px solid var(--gray-200);
    text-align: left;
    font-size: 13px;
    font-weight: 700;
}
.main-table th {
    padding: 16px 24px;
}
.main-table td {
    font-size: 14px;
}
.main-table tr:not(:last-child) td {
    border-bottom: 1px solid var(--gray-200);
}
.main-table tr:hover td {
    background-color: var(--gray-50);
}
/* end: Main */