/* start: Main */
.main-section {
    padding: 48px 0;
}
.main-top {
    margin-bottom: 32px;
    text-align: right;
}
.main-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-top-search-form {
    margin-top: 16px;
}
.main-top-search-form .form-control {
    background-color: var(--gray-200);
}
.main-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 720px;
}
.main-table a {
    text-decoration: none;
    color: var(--gray-900);
    display: block;
    width: 100%;
    padding: 12px 24px;
}
.main-table th {
    border-bottom: 1px solid var(--gray-200);
    text-align: left;
    font-size: 13px;
    font-weight: 700;
}
.main-table th {
    padding: 16px 24px;
}
.main-table td {
    font-size: 14px;
}
.main-table tr:not(:last-child) td {
    border-bottom: 1px solid var(--gray-200);
}
.main-table tr:hover td {
    background-color: var(--gray-50);
}
/* end: Main */



/* start: Container */
.container-radio {
    border: 1px solid var(--gray-200);
    border-radius: 4px;
    overflow: hidden;
}
.container-radio:not(:last-child) {
    margin-bottom: 8px;
}
.container-radio-item {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    cursor: pointer;
    margin-bottom: 0;
}
.container-radio-box > input:checked + .container-radio-item {
    background-color: var(--blue-50);
}
.container-radio-box:not(:last-child) .container-radio-item {
    border-bottom: 1px solid var(--gray-200);
}
.container-radio-box > input {
    display: none;
}
.container-radio-item-icon {
    font-size: 18px;
    color: var(--gray-500);
    margin-right: 24px;
}
.container-radio-box > input:checked + .container-radio-item .container-radio-item-icon {
    color: var(--blue-600);
}
.container-radio-item-title {
    margin-bottom: 4px;
    font-size: 15px;
}
.container-radio-box > input:checked + .container-radio-item .container-radio-item-title {
    color: var(--blue-600);
}
.container-radio-item-description {
    font-size: 13px;
    color: var(--gray-400);
}
.container-radio-item-description a {
    color: var(--gray-400);
    text-decoration: underline;
}
.container-radio-item-description a:hover {
    color: var(--gray-500);
}
/* end: Container */